<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <virtualType name="AppearanceSourceFilterproducts" type="Magento\PageBuilder\Model\Source\VisualSelect">
      <arguments>
          <argument name="optionsSize" xsi:type="string">large</argument>
          <argument name="optionsData" xsi:type="array">
              <item name="0" xsi:type="array">
                  <item name="value" xsi:type="string">grid</item>
                  <item name="title" xsi:type="string" translate="true">Layout Grid</item>
                  <item name="icon" xsi:type="string">Magento_PageBuilder::css/images/content-type/products/appearance/grid.svg</item>
              </item>
              <item name="1" xsi:type="array">
                  <item name="value" xsi:type="string">carousel</item>
                  <item name="title" xsi:type="string" translate="true">Product Carousel</item>
                  <item name="icon" xsi:type="string">Magento_PageBuilder::css/images/content-type/products/appearance/carousel.svg</item>
              </item>
              <item name="2" xsi:type="array">
                  <item name="value" xsi:type="string">masonry</item>
                  <item name="title" xsi:type="string" translate="true">Layout Masonry</item>
                  <item name="icon" xsi:type="string">Smartwave_Filterproducts::css/images/content-type/products/appearance/masonry.png</item>
              </item>
              <item name="3" xsi:type="array">
                  <item name="value" xsi:type="string">sidelist</item>
                  <item name="title" xsi:type="string" translate="true">Layout Side List</item>
                  <item name="icon" xsi:type="string">Smartwave_Filterproducts::css/images/content-type/products/appearance/side.png</item>
              </item>
              <item name="4" xsi:type="array">
                  <item name="value" xsi:type="string">smallist</item>
                  <item name="title" xsi:type="string" translate="true">Layout Small List</item>
                  <item name="icon" xsi:type="string">Smartwave_Filterproducts::css/images/content-type/products/appearance/small.png</item>
              </item>
          </argument>
      </arguments>
  </virtualType>
</config>
