.header-container.type1{background-color:#1e1e1e;border:0}
.cms-index-index .header-container.type1{position:fixed;top:0;right:0;z-index:2;background-color:rgba(0,0,0,.5);width:100%;max-height:100%}
.header-container.type1 .mobile-nav.side-block .sw-mobile-menu li>a,.header-container.type1 .mobile-nav.side-block .sw-mobile-menu li .open-child,.header-container.type1 .mobile-nav.side-block .sw-mobile-menu li.over>a{color:#fff}
.header-container.type1 .top-links-area{display:inline-block;vertical-align:middle;float:none}
.header-container.type1 .top-links-icon{background-color:#101010;border-radius:2px;color:#fff}
.header-container.type1 .header .logo{margin:20px 0 25px 25px;float:right;position:relative;z-index:1}
.header-container.type1 .header-wrapper{border:0;display:block;position:relative;top:32px}
.header-container.type1 .main-nav{margin:0}
.header-container.type1 .main-nav > .container{width:auto!important;padding:0}
.header-container.type1 .main-nav .menu-wrapper{background-color:transparent}
.header-container.type1 .main-nav ul.menu>li>a{color:#fff;padding:10px;font-weight:600;position:relative;z-index:1}
.header-container.type1 .main-nav ul.menu >li.menu-full-width >a,.header-container.type1 .main-nav ul.menu >li.menu-item-has-children >a,.header-container.type1 .main-nav ul.menu >li.menu-static-width >a{padding-left:25px}
.header-container.type1 .main-nav ul.menu >li.menu-full-width >a:after,.header-container.type1 .main-nav ul.menu >li.menu-item-has-children >a:after,.header-container.type1 .main-nav ul.menu >li.menu-static-width >a:after{left:8px}
.header-container.type1 .header-left-area{text-align:left;position:absolute;left:15px;top:50%;margin-top:-32px}
.header-container.type1 .header-left-area>div:first-child{margin-bottom:10px}
.header-container.type1 .links{display:inline-block;vertical-align:middle;float:none;margin-left:5px}
.header-container.type1 .links li{font-weight:300;padding:0 12px;border:0;border-left:1px solid #101010}
.header-container.type1 .links a{color:#fff}
.header-container.type1 .search-area{position:relative;display:inline-block;vertical-align:middle;margin:0;height:25px;width:25px;line-height:25px;text-align:center;margin-right:10px;right:0;top:0;z-index:5}
.header-container.type1 .search-area>a{color:#fff}
.header-container.type1 .header #search_mini_form{display:none}
.header-container.type1 .header .form-search{width:450px;position:absolute;left:-20px;top:40px;overflow:visible;border-width:5px;border-radius:25px;background-color:#fff}
.header-container.type1 .header .form-search:before{content:"";display:block;position:absolute;left:20px;top:-25px;width:20px;height:20px;border:10px solid transparent;border-bottom-color:#ccc}
.header-container.type1 .form-currency,.header-container.type1 .form-language{display:inline-block;vertical-align:middle;float:none;margin-left:4px}
.header-container.type1 .selectbox .select{border-color:#101010;background-color:#101010;color:#fff;text-align:center}
.selectbox li{transition:all .3s}
.header-container.type1 .selectbox .dropdown{border:0}
.header-container.type1 .mini-cart{position:relative;top:0;left:0;display:inline-block;vertical-align:middle;margin:0;width:auto}
.header-container.type1 .mini-cart .mybag-link{height:26px;padding:4px 7px;background-color:#010101;border-radius:2px}
.header-container.type1 .mini-cart .mybag-link i{font-size:14px}
.header-container.type1 .mini-cart .mybag-link .cart-info{padding:1px 3px}
.header-container.type1 .mini-cart .mybag-link span{display:inline-block;vertical-align:middle;font-size:11px;line-height:14px;font-weight:400}
.header-container.type1 .mini-cart .mybag-link .cart-qty{margin-left:3px}
.header-container.type1 .mini-cart .topCartContent{top:26px}
.header-container.type1 .menu-icon{display:none;padding:0;margin:0;height:auto;margin-left:1px;margin-right:10px}
.header-container.type1 .menu-icon a{color:#fff}
.header-container.type1 .main-nav ul.menu>li.menu-full-width>a,.header-container.type1 .main-nav ul.menu>li.menu-static-width>a,.header-container.type1 .main-nav ul.menu>li.menu-item-has-children>a{padding-bottom:11px}
.header-container.type1 .main-nav ul.menu>li.menu-static-width.act>a,.header-container.type1 .main-nav ul.menu>li.menu-full-width.act>a,.header-container.type1 .main-nav ul.menu>li.menu-item-has-children.act>a{padding-bottom:10px}
.header-container.type1 .main-nav ul.menu>li.menu-static-width.act:hover>a,.header-container.type1 .main-nav ul.menu>li.menu-full-width.act:hover>a,.header-container.type1 .main-nav ul.menu>li.menu-item-has-children.act:hover>a{padding-bottom:11px}
.header-container.type1.sticky-header .header-wrapper{background-color:#1e1e1e}
.header-container.type1.sticky-header .header-wrapper .main-nav.container{margin:0 auto;padding:0 15px}
.header-container.type1.sticky-header .menu-wrapper .mybag-link i{color:#fff}
.header-container.type1.sticky-header .menu-wrapper .mybag-link .cart-qty{color:#1e1e1e}
@media (max-width:991px) {
.header-container.type1 .header #search_mini_form{display:none}
.header-container.type1 .header .custom-block{display:none}
.header-container.type1 .menu-icon{display:inline-block}
.header-container.type1 .header-wrapper{display:none}
}
@media (max-width:640px) {
.header-container.type1 .links{display:none;position:absolute;left:0;z-index:9;background-color:#fff!important;border-radius:3px;margin:0;padding:5px 0;text-align:left;border:1px solid #ccc}
.header-container.type1 .links li{display:block;border:0;padding:0}
.header-container.type1 .links li a{color:#777!important;white-space:nowrap;padding:0 10px;display:block;transition:all .2s;font-weight:400}
.header-container.type1 .links li:hover a{background-color:#ccc!important;color:#fff!important;text-decoration:none}
}
@media (max-width:480px) {
.header-container.type1 .header .logo{margin:15px 0}
.header-container.type1 .header .logo img{max-height:50px}
.header-container.type1 .header-left-area{position:static;margin:0;margin-bottom:10px}
.header-container.type1 .header-left-area>div:first-child{margin:30px 0}
.header-container.type1 .compare-link > a{margin-bottom:5px}
.header-container.type1 .form-currency,.header-container.type1 .form-language{margin-bottom:5px}
}
